workflows/autonomous-manuscript-workflow.json
{
  "name": "Autonomous Manuscript Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "cd /scripts && node autonomous-manuscript-generator.js",
        "options": {}
      },
      "id": "run-generator",
      "name": "Run Manuscript Generator",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.exitCode}}",
              "operation": "equals",
              "value2": "0"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "cd /home/node/.n8n/manuscripts/completed && git add . && git commit -m 'Add completed manuscript' && git push",
        "options": {}
      },
      "id": "commit-push",
      "name": "Commit and Push to GitHub",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 250]
    },
    {
      "parameters": {
        "functionCode": "// Log successful generation\nconst timestamp = new Date().toISOString();\nconsole.log(`[${timestamp}] Manuscript generation completed successfully`);\n\nreturn items;"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "functionCode": "// Log error\nconst timestamp = new Date().toISOString();\nconsole.error(`[${timestamp}] Manuscript generation failed`);\nconsole.error(items[0].json);\n\nreturn items;"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Schedule Every 6 Hours": {
      "main": [
        [
          {
            "node": "Run Manuscript Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Manuscript Generator": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Commit and Push to GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit and Push to GitHub": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "autonomous-workflow"
}
